{
    "version" : "2.0",
    "standard" : "c2012",
    "title": "Coverity MISRA Configuration",
    "deviations" : [
        {
            "deviation": "Rule 8.7",
            "reason": "API functions are not used by the library outside of the files they are defined; however, they must be externally visible in order to be used by an application."
        }
    ]
}
